*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@font-face {
    font-family: 'Clemente';
    src: url("../fonts/ClementePDai_Regular.ttf");
}

@font-face {
    font-family: 'ClementeLight';
    src: url("../fonts/ClementePDac_ExtraLight.ttf");
}



body {
    font-family: Clemente;
    color: white;
    margin: 0;
    background: url(../images/bg.png) fixed repeat;
    max-height: calc(968px - 100px)
}



.wrapper {
    max-width: 500px;
    margin: 0 auto;
    }



.tittle {
    color: #BF3030;
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
    text-align: center;
}



.login-block__input {
    background-color: #3B8590;
    border-radius: 5px;
    padding: 80px 0 30px 0;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    
}

.login-block__input img {
    align-self: center;
    margin-top: -155px;
}

.login-block__form form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.login-block__form form input{
    width: 80%;
    background: none;
    border: none;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: 100;
    font-family: ClementeLight;
}

.login-block__form form input:first-child{
    border-bottom: 2px solid white;
}

.login-block__form form input::-webkit-input-placeholder {
    font-family: ClementeLight;
    color: white;
    font-weight: 100;
}
.login-block__form form input::-moz-placeholder {
    font-family: ClementeLight;
    color: white;
    font-weight: 100;
}

.login-block p{
    text-align: center;
    margin: 20px 0;
}

.login-block button {
    width: 100%;
    background-color: #C64444;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}

.login-block button:hover{
    background-color: #00A779;
    transition: all 0.5s ease 0.2s;
}

footer {
    display: flex;
    color:#3B8590;
    font-family: ClementeLight;
    font-weight: 200;
    font-size: 20px;
    align-items: center;
    margin: 0 auto;
    height: 35%;
    text-align: center;
    justify-content: center;
}
footer a {
    color:#3B8590;
    font-family: Clemente;
    font-weight: normal;
    transition: all 0.5s ease 0.2s;
}

footer a:hover{
    border-bottom:1px solid #C64444;
    color: #C64444;
    transition: all 0.5s ease 0.2s;
}



@media all and (max-width: 990px){
    .wrapper{
        max-width: 400px;
    }
    .tittle{
        font-size: 35px;
    }
}

@media all and (max-width: 720px){
    .wrapper{
        max-width: 300px;
    }
    .tittle{
        margin-top: 50px;
    }
    footer p{
        font-size: 14px;
    }
}

@media all and (max-width: 320px){
    body {
        width: 100%;
        padding: -10px;
    }
    .wrapper{
        width: 100%;
    }
    .title{
        margin-top: 35px;
    }
    footer {
        font-size: 7px;
        align-items: flex-start;
        margin-top: 20px;
    }
    .login-block__input img {
        max-width: 110px;
    }

    .login-block button {
        margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    }
    .login-block p{
        margin: 10px 0;
    }
}